<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="sampletest">
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/adktm?createDatabaseIfNotExist=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.default_schema">adktm</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
         <property name="hibernate.current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

<mapping class="com.adk.db.pingpong.PlayerDetails"/>
<mapping resource="PlayerDetails.hbm.xml"/>

<mapping class="com.adk.db.pingpong.GameScore"/>
<mapping resource="GameScore.hbm.xml"/>

<mapping class="com.adk.db.pingpong.GroupMatchesDetails"/>
<mapping resource="GroupMatchesDetails.hbm.xml"/>

<mapping class="com.adk.db.pingpong.ScoreCard"/>
<mapping resource="ScoreCard.hbm.xml"/>

<mapping class="com.adk.db.pingpong.Tournament"/>
<mapping resource="Tournament.hbm.xml"/>


<mapping class="com.adk.db.pingpong.Category"/>
<mapping resource="Category.hbm.xml"/>

<mapping class="com.adk.db.pingpong.Event"/>
<mapping resource="Event.hbm.xml"/>

</session-factory>
</hibernate-configuration>
