img {
     width:100px;
     heigth:100px;
}

@font-face {
   font-family: Comfortaa;
   src: url(./Comfortaa/Comfortaa-Regular.ttf);
}

div {
	font-family: Comfortaa;
}

.certify{
	background-image: url("../img/gdrive_icon.jpg");
    /*background-repeat: repeat-x;*/
}